.box_1>ul>li:nth-child(even){
    color: pink;
}

.box_2>ul>li:nth-child(odd){
    font-size: 22px;
}

.box_3>ul>li:nth-child(2n+4){
    font-size: 22px;
}

.box_3>ul>li::after{
    content: "!";
}

.box_4>ul>li:last-child{
    color: violet;
}

.box_5>ul>li:first-letter{
    color: red;
    font-size: 30px;
}